<h1>Categorias de Arquivo Vivo</h1>

<p>
  <b>Categoria:</b>
  <%=h @living_file_category.category %>
</p>


<%= link_to 'Editar', edit_living_file_category_path(@living_file_category) %> |
<%= link_to 'Voltar', living_file_categories_path %>