<h1>Imagem do Mês :: Nova</h1>

<% form_for(@calendar_image, :html => {:multipart => true }) do |f| %>
  <%= f.error_messages %>

  	<%= render :partial => "form", :locals => { :f => f } %>

  <p>
    <%= f.submit 'Criar', :disable_with => "Criando.." %>
  </p>
<% end %>

<%= link_to 'Voltar', calendar_images_path %>