<h1>Nova mensagem enviada pelo site - Midiateca</h1>

<p>
	<b>Nome:</b> 
	<%= @f_name %>
</p>

<p>
	<b>Assunto:</b> 
	<%= @f_subject %>
</p>

<p>
	<b>Email:</b> 
	<%= @f_email %>
</p>

<p>
	<b>Mensagem</b><br/>
	<%= @f_message %>
</p>
