<h1>Remover email da newsletter</h1>

<p>
	Olá, <%= @f_name %><br/>
	Se você quer remover seu email de nossa newsletter cliquei no link abaixo:<br/>
	<%= @domain %>/remover_email/<%= @f_user_id %>/<%= @f_user_salt %><br/>
	Atenciosamente<br/>
	CCE_SP
</p>