<h1>Envio de arquivo</h1>

<p>
	<%= @f_message %><br/><br/>
	Para abrir o arquivo, clique no link abaixo:<br/><br/>
	<%= @domain %>/arquivo_protegido/<%= @f_id %>/<%= @f_salt %><br/><br/>
	Atenciosamente<br/><br/>
	CCE_SP
</p>