<div id="footer">
	<div id="coop">
		<img src="/css/geral/coop.gif" alt="cooperación cultural exterior" title="cooperación cultural exterior" />
	</div>
	<div id="termos">
		<a href="/termos_de_uso">Termos de<br /> uso do conteúdo</a>
	</div>
	<address>
		Centro Cultural da Espanha em São Paulo | 
		<span class="street-address">Rua Dr. Martinico Prado, 474</span><br />
		<span class="locality">Higienópolis</span> | 
		<span class="locality">São Paulo</span>, <span class="region">SP</span> | 
		<span class="tel">tel: +55 11 3822.2627</span> | 
		<a class="email" href="mailto:contato@ccebrasil.org.br" title="contato">contato@ccebrasil.org.br</a>
	</address>
	<a id="projeto_dispositivo" href="/projeto_dispositivo">projeto<br />[dispositivo]</a>
	<a href="/acessibilidade" id="validation">
		<acronym title="World Wide Web Consortium">W3C</acronym>
		<acronym title="Hyper Text Markup Language">HTML</acronym>
		<acronym title="Cascading Style Sheets">CSS</acronym>
		<acronym title="WCAG">WCAG</acronym>
	</a>
</div>