<div id="header" class="after">
	<a href="#destaques" class="access">pular para destaques</a>
	<a href="#content" class="access">pular para conteúdo</a>
	
	<p id="rss"><a href="/home/feed" title="RSS">RSS</a></p>
	<div id="logos">
		<h1>
			<a href="/" title="Centro Cultural da Espanha_SP" id="link_logo">
				<img src="/css/geral/logo_cce.gif" alt="Centro Cultural da Espanha_SP" />
				<span>Centro Cultural da Espanha</span>
			</a>
		</h1>
		<a href="/aecid"><img src="/css/geral/logo_2.gif" title="AECID" alt="AECID" id="logo2" /></a>
	</div>
	
	<div id="menus">
		<form action="/busca" id="busca_form" class="form">
			<input type="text" name="keyword" id="busca_termo" class="ipt_txt" value="pesquisa" />
			<input type="submit" value="buscar" id="busca_submit" class="submit" title="pesquisa" />
		</form>
		
		<ul id="menu_sec">
			<li id="link_sobre">
				<a href="/sobre" title="sobre o ccesp">sobre o CCESP<span>&nbsp;</span></a>
				<ul>
					<li id="link_sobre_instituicao"><a href="/sobre" title="a instituição">a instituição<span>&nbsp;</span></a></li>
					<li id="link_sobre_linhas_programacao"><a href="/atuacao" title="atuação">atuação<span>&nbsp;</span></a></li>
					<li id="link_sobre_projetos"><a href="/projetos" title="projetos">projetos<span>&nbsp;</span></a></li>
				</ul>
			</li>
			<li id="link_rede">
			<a href="/aecid" title="rede AECID">rede AECID<span>&nbsp;</span></a>
				<ul>
					<li id="link_rede_sobre"><a href="/aecid" title="Sobre">Sobre<span>&nbsp;</span></a></li>
					<li id="link_rede_cd"><a href="/aecid/cultura_desenvolvimento" title="[C+D]">[C+D]<span>&nbsp;</span></a></li>
					<li id="link_rede_rede"><a href="/aecid/centros" title="Rede">Rede<span>&nbsp;</span></a></li>
					<li id="link_rede_otc"><a href="/aecid/oficina_tecnica" title="[OTC]">[OTC]<span>&nbsp;</span></a></li>
					<li id="link_rede_docs"><a href="/aecid/documentos" title="Docs">Docs<span>&nbsp;</span></a></li>
				</ul>
			</li>
			<li id="link_contato"><a href="/contato" title="contato">contato<span>&nbsp;</span></a></li>
			<li id="link_cadastro"><a href="/cadastro" title="cadastro">cadastro<span>&nbsp;</span></a></li>
			<li id="link_mapa"><a href="/mapa" title="mapa do site">mapa do site<span>&nbsp;</span></a></li>
			<li id="link_imprensa"><a href="/imprensa" title="imprensa">imprensa<span>&nbsp;</span></a></li>
		</ul>
		
		<ul id="menu">
			<li id="link_home"><a href="/" title="capa">capa<span>&nbsp;</span></a></li>
			<li id="link_programacao"><a href="/programacao" title="programação">programação<span>&nbsp;</span></a></li>
			<li id="link_arquivo_vivo"><a href="/arquivo_vivo" title="arquivo vivo">arquivo vivo<span>&nbsp;</span></a></li>
			<li id="link_projetos" class="selected"><a href="/projetos" title="projetos">projetos<span>&nbsp;</span></a></li>
			<li id="link_midiateca">
				<a href="/midiateca" title="midiateca">midiateca<span>&nbsp;</span></a>
				<ul>
					<li id="submenu_midia1"><a href="/midiateca" title="sobre a midiateca">sobre a midiateca<span>&nbsp;</span></a></li>
					<li id="submenu_midia2"><a href="/midiateca/servicos" title="serviços">serviços<span>&nbsp;</span></a></li>
					<li id="submenu_midia3"><a href="http://ccebrasil.phl-net.com.br" title="catálogo online">catálogo online<span>&nbsp;</span></a></li>
					<li id="submenu_midia4"><a href="/midiateca/links" title="links midiateca">links midiateca<span>&nbsp;</span></a></li>
					<li id="submenu_midia5"><a href="/midiateca/contato" title="contato">contato midiateca<span>&nbsp;</span></a></li>
				</ul>
			</li>
			<li id="link_links"><a href="/links" title="links">links<span>&nbsp;</span></a></li>
		</ul>
	</div>
</div>