<body class="acessibilidade">

<div id="site">

	<%= render :partial => "header" %>
	
	<div id="content">
		<div id="sidebar">
			<h2 id="txt_acessibilidade" class="umalinha" title="Acessibilidade">Acessibilidade<span>&nbsp;</span></h2>
			<h3>Nossas preocupações em atender a todos</h3>
			<p>O Centro Cultural da Espanha em São Paulo estende a  sua preocupação com as questões de acessibilidade às páginas deste site.</p>
			<p>A instituição respeita os princípios da simplicidade,  compatibilidade e coerência, seguindo as boas práticas recomendadas por  normas internacionais de acessibilidade. Isto possibilita o acesso a portadores de necessidades especiais e  assegura que os meios de informação pela Internet sejam  abrangentes e inclusivos.</p>
			<p>Em busca de cumprir eficientemente com esta responsabilidade social, esperamos contar com a colaboração dos usuários do site, no aprimoramento deste objetivo.</p>
			<p>Entre em contato para sugerir melhorias sobre acessibilidade.</p>
			
		</div>
		
		<div id="column">
			<div id="acessibilidade_box">
				<ul>
					<li><a href="http://www.w3c.br/"><strong>W3C [ world wide web consortium ]</strong></a></li>
					<li><a href="http://validator.w3.org/check/referer">HTML [ hypertext markup language ]</a></li> 
					<li><a href="http://jigsaw.w3.org/css-validator/check/referer">CSS [ cascading style sheet ]</a></li>
					<li><a href="http://www.maujor.com/w3c/wcagoverview.html">WCAG [ web content accessibility guidelines ]</a></li>
				</ul>
				
			</div>
		</div>
		
	</div>
	
	<%= render :partial => "footer" %>

</div>