<body class="rede">

<div id="site">

	<%= render :partial => "header" %>
	
	<div id="content">
		<div id="sidebar">
			<h2 id="txt_aecid" class="umalinha" title="AECID">AECID<span>&nbsp;</span></h2>
			<h3><a href="http://www.aecid.es">www.aecid.es</a></h3>
			
			<p>A <strong>Agência Espanhola de Cooperação Internacional para o Desenvolvimento (AECID)</strong> é uma Entidade de Direito Público vinculada ao Ministério de Assuntos Exteriores e de Cooperação, através da Secretaria de Estado de Cooperação Internacional (SECI). É o órgão de gestão da política espanhola de cooperação internacional para o desenvolvimento, e está voltado ao fomento, à gestão e ao êxito das políticas públicas de cooperação internacional para o desenvolvimento, dirigidas à luta contra a pobreza e consecução de um desenvolvimento humano sustentável nos países em desenvolvimento, particularmente os acolhidos pelo Plano Diretor que vigora de quatro em quatro anos. <br/><strong>A luta contra a pobreza</strong> é o objetivo final da política espanhola de cooperação internacional para o desenvolvimento. Esta integra a ação exterior do Estado e baseia-se em uma concepção interdependente e solidária da sociedade internacional.</p>
			
			<ul id="menu_aecid" class="menu_sidebar">
				<li id="sidebar_item1" class="selected"><a href="/aecid" title="AECID">AECID<span>&nbsp;</span></a></li>
				<li id="sidebar_item2"><a href="/aecid/documentos" title="Documentos programáticos">Documentos programáticos<span>&nbsp;</span></a></li>
				<li id="sidebar_item3"><a href="/aecid/cultura_desenvolvimento" title="[C+D] Cultura e Desenvolvimento">[C+D] Cultura e Desenvolvimento<span>&nbsp;</span></a></li>
				<li id="sidebar_item4"><a href="/aecid/centros" title="Rede de centros">Rede de centros<span>&nbsp;</span></a></li>
				<li id="sidebar_item5"><a href="/aecid/oficina_tecnica" title="[OTC] Oficina Técnica de Cooperação - Brasília">[OTC] <strong>Oficina Técnica de Cooperação - Brasília</strong><span>&nbsp;</span></a></li>
			</ul>
		</div>
		
		<div id="column">
			<div id="rede_box_capa"></div>
		</div>
		
	</div>
	
	<%= render :partial => "footer" %>

</div>