<div id="site">

	<%= render :partial => "header" %>
	
	<div id="content">
		<div id="sidebar">
			<h2 id="txt_aecid" class="umalinha" title="AECID">AECID<span>&nbsp;</span></h2>
			<h3>Rede de Centros</h3>
			
			<p>A agência espanhola de Cooperação Internacional para o Desenvolvimento executa  sua política em matéria de cooperação cultural a través de uma rede de centros situados nas principais capitais latino-americanas assim como na Guiné Equatorial.</p>
			<!--<p>A Oficina Técnica de Cooperação no Brasil (OTC) funciona na Embaixada da Espanha em Brasília desde 1989. Leva a cabo programas e projetos em seis dos setores prioritários definidos no Plano Diretor da Cooperação Espanhola 2005-2008: desenvolvimento institucional, cobertura das necessidades sociais, promoção do tecido econômico e empresarial, meio ambiente, cultura e desenvolvimento e gênero.</p>-->

			<p><a href="/system/downloads/2/original/plan-director-de-la-cooperacion-espanhola-2009-2012.pdf" title="+ Versão em PDF para download"><strong>+ Versão em PDF para download</strong></a></p>
			
			<p><a href="http://www.aecid.org.br/portal/index.php?option=com_wrapper&view=wrapper&Itemid=56" target="_blank"><strong>+ Saiba mais sobre os projetos desenvolvidos no Brasil</strong></a></p>
			
			<ul id="menu_aecid" class="menu_sidebar">
				<li id="sidebar_item1"><a href="/aecid" title="AECID">AECID<span>&nbsp;</span></a></li>
				<li id="sidebar_item2"><a href="/aecid/documentos" title="Documentos programáticos">Documentos programáticos<span>&nbsp;</span></a></li>
				<li id="sidebar_item3"><a href="/aecid/cultura_desenvolvimento" title="[C+D] Cultura e Desenvolvimento">[C+D] Cultura e Desenvolvimento<span>&nbsp;</span></a></li>
				<li id="sidebar_item4" class="selected"><a href="/aecid/centros" title="Rede de centros">Rede de centros<span>&nbsp;</span></a></li>
				<li id="sidebar_item5"><a href="/aecid/oficina_tecnica" title="[OTC] Oficina Técnica de Cooperação - Brasília">[OTC] <strong>Oficina Técnica de Cooperação - Brasília</strong><span>&nbsp;</span></a></li>
			</ul>
		</div>
		
		<div id="column">
			<div id="rede_box">
				<div id="rede_paises">
					<span id="rede_miami"><a href="http://www.ccemiami.org">Miami | Estados Unidos</a></span>
					<span id="rede_mexico"><a href="http://www.ccemx.org">México</a></span>
					<span id="rede_espanha"><a href="http://www.aecid.es">Espanha</a></span>
					<span id="rede_quito">Quito | Equador <em>(em breve)</em></span>
					<span id="rede_guatemala"><a href="http://www.centroculturalespana.com.gt">Guatemala</a></span>
					<span id="rede_san_salvador"><a href="http://www.aecid.org.sv">San Salvador | El Salvador</a></span>
					<span id="rede_santo_domingo"><a href="http://www.ccesd.org">Santo Domingo | Rep Dominicana</a></span>
					<span id="rede_honduras"><a href="http://www.ccet-aecid.hn">Honduras</a></span>
					<span id="rede_sao_jose"><a href="http://www.ccecr.org">São José | Costa Rica</a></span>
					<span id="rede_bogota">Bogotá | Colômbia <em>(em breve)</em></span>
					<span id="rede_malabo"><a href="mailto:direccion.ccem@smtpltd.com">Malabo | Guiné Equatorial</a></span>
					<span id="rede_lima"><a href="http://www.ccelima.org">Lima | Peru</a></span>
					<span id="rede_bata"><a href="mailto:direccion.cceb@guineanet.net">Bata | Guiné Equatorial</a></span>
					<span id="rede_assuncao"><a href="http://www.juandesalazar.org.py">Assunção | Paraguai</a></span>
					<span id="rede_cordoba"><a href="http://www.ccec.org.ar">Córdoba | Argentina</a></span>
					<span id="rede_rosario"><a href="http://www.ccpe.org.ar">Rosário | Argentina</a></span>
					<span id="rede_santiago"><a href="http://www.ccespana.cl">Santiago | Chile</a></span>
					<span id="rede_montevideu"><a href="http://www.cce.org.uy">Montevidéu | Uruguai</a></span>
					<span id="rede_buenos_aires"><a href="http://www.cceba.org.ar">Buenos | Aires Argentina</a></span>
				</div>
			</div>
		</div>
		
	</div>
	
	<%= render :partial => "footer" %>

</div>
