<body class="rede">

<div id="site">

	<%= render :partial => "header" %>
	
	<div id="content">
		<div id="sidebar">
			<h2 id="txt_aecid" class="umalinha" title="AECID">AECID<span>&nbsp;</span></h2>
			<h3>Documentos Programáticos</h3>
			
			<p><strong>Plano Diretor</strong><br />
A Lei de Cooperação Internacional para o Desenvolvimento (lei 23/1998, de 7 de julho) estabelece as prioridades básicas do trabalho da AECID, que se desenvolvem periodicamente no Plano Diretor da Cooperação Espanhola e nos Planos Anuais de Cooperação Internacional (PACI). O Plano Diretor 2009-2012 estabelece as seguintes prioridades <strong>horizontais e transversais, setoriais e geográficas</strong>:</p>

			<p><a href="/system/downloads/2/original/plan-director-de-la-cooperacion-espanhola-2009-2012.pdf" title="+ Versão em PDF para download"><strong>+ Versão em PDF para download</strong></a></p>
			
			<p><a href="http://www.aecid.es/web/es/publicaciones/" target="_blank"><strong>+ Publicaciones y documentos oficiales de la cooperación española</strong></a></p>
			
			<ul id="menu_aecid" class="menu_sidebar">
				<li id="sidebar_item1"><a href="/aecid" title="AECID">AECID<span>&nbsp;</span></a></li>
				<li id="sidebar_item2" class="selected"><a href="/aecid/documentos" title="Documentos programáticos">Documentos programáticos<span>&nbsp;</span></a></li>
				<li id="sidebar_item3"><a href="/aecid/cultura_desenvolvimento" title="[C+D] Cultura e Desenvolvimento">[C+D] Cultura e Desenvolvimento<span>&nbsp;</span></a></li>
				<li id="sidebar_item4"><a href="/aecid/centros" title="Rede de centros">Rede de centros<span>&nbsp;</span></a></li>
				<li id="sidebar_item5"><a href="/aecid/oficina_tecnica" title="[OTC] Oficina Técnica de Cooperação - Brasília">[OTC] <strong>Oficina Técnica de Cooperação - Brasília</strong><span>&nbsp;</span></a></li>
			</ul>
		</div>
		
		<div id="column">
			<div id="rede_box">
				<h3>Horizontais e transversais</h3>
				<ul class="lista_ponto">
					<li>Inclusão Social e Luta contra a Pobreza</li> 
					<li>Promoção dos Direitos Humanos e Governabilidade Democrática</li>
					<li>Gênero em Desenvolvimento</li>
					<li>Sustentabilidade do Meio Ambiente</li>
					<li>Respeito à Diversidade Cultural</li>
				</ul>
				
				
				<h3>Setoriais </h3>
				<ul class="lista_ponto">
					<li>Governabilidade democrática</li>
					<li>Desenvolvimento rural e luta contra a fome </li>
					<li>Educação </li>
					<li>Saúde</li>
					<li>Água e saneamento </li>
					<li>Crescimento econômico para a redução da pobreza</li>
					<li>Sustentabilidade ambiental, luta contra a mudança climática e habitat </li>
					<li>Ciência, tecnologia e inovação</li>
					<li>Gênero em desenvolvimento</li>
					<li>Migração e desenvolvimento </li>
					<li>Construção da paz</li>
					<li>Cultura e desenvolvimento</li>
				</ul>
				
				
				
				<p class="saiba_mais">Saiba mas: <a href="http://www.aecid.es/web/es/aecid/Prioridades/">http://www.aecid.es/web/es/aecid/Prioridades/</a></p>
				
				<h3>Geográficas</h3>
				
				<p>São estabelecidas a partir de critérios de eficácia como: indicadores de desenvolvimento, presença e articulação da Cooperação Española no país, marco de associação possível no país, potencial do país como sócio de desenvolvimento e a posição relativa da Cooperação Espanhola a respeito de outros doadores.</p>
				
				<p>Assim, se estabelecem diferentes tipos de associação: <br/><strong>Grupo A</strong>, de Associação Ampla, <strong>Grupo B</strong>, de Associação Focalizada e <strong>Grupo C</strong>, de Associação para a Consolidação de Conquistas do Desenvolvimento.</p>
				
				<p class="saiba_mais">Saiba mais: <a href="http://www.aecid.es/web/es/cooperacion/coop-paises/">http://www.aecid.es/web/es/cooperacion/coop-paises/</a></p>

			
			</div>
		</div>
		
	</div>
	
	<%= render :partial => "footer" %>

</div>