<body class="rede">

<div id="site">

	<%= render :partial => "header" %>
	
	<div id="content">
		<div id="sidebar">
			<h2 id="txt_aecid" class="umalinha" title="AECID">AECID<span>&nbsp;</span></h2>
			<h3>[OTC] Oficina Técnica de Cooperação</h3>
			
			<p>A Oficina Técnica de Cooperação de Brasilia (OTC) funciona na Embaixada da Espanha em Brasília desde 1989. Leva a cabo programas e projetos em seis dos setores prioritários definidos no Plano Diretor da Cooperação Espanhola 2005-2008: desenvolvimento institucional, cobertura das necessidades sociais, promoção do tecido econômico e empresarial, meio ambiente, cultura e desenvolvimento e gênero.</p>

			<!--<p>La Oficina Técnica de Cooperación en Brasil (OTC) funciona en la Embajada de España en Brasilia desde 1989. Lleva a cabo programas y proyectos en 6 de los sectores prioritarios definidos en el Plan Director de la Cooperación Española 2005-2008: desarrollo institucional, cobertura de las necesidades sociales, promoción del tejido económico y empresarial, medio ambiente, cultura y desarrollo, y género.</p>-->

			<p><a href="http://www.aecid.org.br/portal/index.php?option=com_wrapper&view=wrapper&Itemid=56">Clique aqui e saiba mais sobre os projetos realizados no Brasil.</a></p>
			
			<ul id="menu_aecid" class="menu_sidebar">
				<li id="sidebar_item1"><a href="/aecid" title="AECID">AECID<span>&nbsp;</span></a></li>
				<li id="sidebar_item2"><a href="/aecid/documentos" title="Documentos programáticos">Documentos programáticos<span>&nbsp;</span></a></li>
				<li id="sidebar_item3"><a href="/aecid/cultura_desenvolvimento" title="[C+D] Cultura e Desenvolvimento">[C+D] Cultura e Desenvolvimento<span>&nbsp;</span></a></li>
				<li id="sidebar_item4"><a href="/aecid/centros" title="Rede de centros">Rede de centros<span>&nbsp;</span></a></li>
				<li id="sidebar_item5" class="selected"><a href="/aecid/oficina_tecnica" title="[OTC] Oficina Técnica de Cooperação - Brasília">[OTC] <strong>Oficina Técnica de Cooperação - Brasília</strong><span>&nbsp;</span></a></li>
			</ul>
		</div>
		
		<div id="column">
			<div id="rede_box">
				<div id="rede_otc">
					<h3>Escritório Brasília</h3>
					<p class="vcard">
						<span class="street-address">SES Av. das Nações, Qd. 811, Lt. 44</span><br />
						<span class="locality">Brasília</span><br />
						<span class="zipcode">70429-900</span><br />
						<span class="country-name">BRASIL</span><br />
						<span class="email"><a href="mailto:otcbrasil@aecid.org.br">otcbrasil@aecid.org.br</a></span><br />
						<span class="tel">+55 (61) 3443 3303</span><br />
						<span class="tel">+55 (61) 3443 3304</span>
					</p>
				</div>
			</div>
		</div>
		
	</div>
	
	<%= render :partial => "footer" %>

</div>
