<body class="rede">

<div id="site">

	<%= render :partial => "header" %>
	
	<div id="content">
		<div id="sidebar">
			<h2 id="txt_aecid" class="umalinha" title="AECID">AECID<span>&nbsp;</span></h2>
			<h3>[C+D] <br /> Estrategia Cultura e Desenvolvimento</h3>
			
			<p>De acordo com o Plano Diretor da Cooperação Espanhola 2005-08 (PD), a cooperação cultural se incorpora como elemento fundamental para o desenvolvimento, a sustentabilidade dos projetos e a nova concepção das ações para o desenvolvimento humano.</p>

			<p>O reconhecimento da diversidade cultural é um veículo imprescindível para fomentar a convivência, a governança e a coesão social. Para levar a cabo esta política se estabelece uma estratégia setorial que contempla as seguintes linhas de trabalho, dentro das quais se enquadra a programação deste centro. </p>
			
			<ul id="menu_aecid" class="menu_sidebar">
				<li id="sidebar_item1"><a href="/aecid" title="AECID">AECID<span>&nbsp;</span></a></li>
				<li id="sidebar_item2"><a href="/aecid/documentos" title="Documentos programáticos">Documentos programáticos<span>&nbsp;</span></a></li>
				<li id="sidebar_item3" class="selected"><a href="/aecid/cultura_desenvolvimento" title="[C+D] Cultura e Desenvolvimento">[C+D] Cultura e Desenvolvimento<span>&nbsp;</span></a></li>
				<li id="sidebar_item4"><a href="/aecid/centros" title="Rede de centros">Rede de centros<span>&nbsp;</span></a></li>
				<li id="sidebar_item5"><a href="/aecid/oficina_tecnica" title="[OTC] Oficina Técnica de Cooperação - Brasília">[OTC] <strong>Oficina Técnica de Cooperação - Brasília</strong><span>&nbsp;</span></a></li>
			</ul>
		</div>
		
		<div id="column">
			<div id="rede_box">
				<p><strong>Escolha abaixo uma estratégia e saiba mais sobre ela</strong>:</p>
				
				<ul id="lista_desenvolvimento">
					<li>
						<h3>Formação de capital humano para a gestão cultural com ênfase em projetos de cultura e desenvolvimento</h3>
						<p>Pretende facilitar e fomentar os processos que contribuam para a criação de recursos humanos potencializando sua autonomia na gestão das diferentes dimensões da vida cultural com incidência no desenvolvimento.</p>
					</li>
					<li>
						<h3>Dimensão política da cultura em sua contribuição para o desenvolvimento</h3>
						<p>Pretende investigar os diferentes aportes que as políticas culturais possam realizar como contribuição para a melhoria da governabilidade, fomentando assim o desenvolvimento institucional cultural, estimulando a participação cidadã e implementando os mecanismos mais eficazes de participação da sociedade civil, contribuindo desta forma para uma melhor governabilidade.</p>
					</li>
					<li>
						<h3>Dimensão econômica da cultura em sua contribuição ao desenvolvimento</h3>
						<p>Pretende investigar os possíveis aportes culturais para o desenvolvimento do setor econômico: mediante fomento, criação e produção de empresas, indústrias e instituições culturais e criativas, gerando empregos na área cultural, estimulando sua conexão com outros setores produtivos como o turismo, por exemplo. Potencializando sua versatilidade na construção de uma criatividade produtiva e dinamizando em definitivo um campo em expansão que pode contribuir decisivamente para o desenvolvimento social.</p>
					</li>
					<li>
						<h3>Relação e novos vínculos entre educação e cultura</h3>
						<p>Pretende reforçar as estruturas e conteúdos culturais nos processos de educação formal, buscando uma melhor comprensão e participação dos alunos nos fenômenos culturais e artísticos contemporâneos.</p>
					</li>
					<li>
						<h3>Apoio aos processos reconhecidos  como patrimônio cultural</h3>
						<p>Pretende apoiar e trabalhar com os múltiplos processos existentes em conservação, restauração, preservação e valorização dos bens patrimoniais, tanto os materiais como os imateriais, procurando a contribuição que todos estes esforços possam trazer para o desenvolvimento sustentável.</p>
					</li>
					<li>
						<h3>Impulso aos processos de reconhecimento dos direitos culturais</h3>
						<p>Pretende reforçar a sensibilidade nas sociedades para os temas relacionados com a diversidade cultural e potencializar os estudos nos diferentes aspectos da legislação cultural, que abarcam desde direito autoral até a conservação de bens patrimoniais. Do mesmo modo, esta linha reforçará as ações para a inclusão social, tão necessária no projeto multicultural a que nos impele hoje a globalização.</p>
					</li>
					<li>
						<h3>Estímulo aos processos científicos tecnológicos e sua relação com o desenvolvimento</h3>
						<p>Pretende facilitar a cooperação técnico-científica, tanto de experts e investigadores como de universidades, aprofundando a colaboração, cooperação e cogestão de projetos, de maneira que se aperfeiçoem as potencialidades que possam contribuir para a melhoria da qualidade de vida e bem-estar da população.</p>
					</li>
					<li>
						<h3>Desenvolvimento dos vínculos entre comunicação e cultura</h3>
						<p>Pretende potencializar nas comunidades processos próprios no âmbito comunicativo, contribuindo desta forma para a inserção dos diferentes setores que compõem a comunidade, dando voz aos que não a tem e reconhecendo através destes novos projetos quem sempre foi silenciado. Do mesmo modo se trabalhará na formação de públicos, gerando novas indústrias culturais e estimulando a passagem da cooperação à coprodução.</p>
					</li>
				</ul>
				
				<p><strong>Downloads em PDF</strong><br />
				<a href="/system/downloads/3/original/estrategia-cultura-y-desarrollo-aecid.pdf" class="downloads_desenvolvimento">Estratégia C+D</a></p>
				
				<p class="saiba_mais">Saiba mais:<br />
				<a href="http://www.aecid.es/web/es/cooperacion/coop_cultural/">http://www.aecid.es/web/es/cooperacion/coop_cultural/</a></p>
			</div>
		</div>
		
	</div>
	
	<%= render :partial => "footer" %>

</div>