<body>

<div id="site">

	<%= render :partial => "header" %>
	
	<div id="content">
		<div id="sidebar">
			<h2 id="txt_sobre_o_ccesp" class="umalinha" title="Sobre o CCESP">Sobre o CCESP<span>&nbsp;</span></h2>
			<h3>Linhas de programação</h3>
			
			<p>A programação da rede de centros culturais AECID é conceitualmente organizada em torno de três áreas: Cultura e Desenvolvimento (C + D), Cooperação Cultural e Científica e à Promoção e Ação Cultural Exterior. Para melhor desempenho, considera-se uma base de amplo diálogo com o setor cultural local, que identificará as áreas onde o desempenho AECID pode vir a apoiar, fortalecer e expandir as demandas e aspirações do setor cultural em que se vai atuar.</p>

			<p>Selecione as áreas, linhas ou programas ao lado, para obter detalhes sobre cada uma delas.</p>
			
			<ul id="menu_sobre" class="menu_sidebar">
				<li id="sidebar_item1"><a href="/sobre" title="a instituição">a instituição<span>&nbsp;</span></a></li>
				<li id="sidebar_item2" class="selected"><a href="/atuacao" title="atuação">atuação<span>&nbsp;</span></a></li>
				<li id="sidebar_item3"><a href="/projetos" title="projetos">projetos<span>&nbsp;</span></a></li>
			</ul>
		</div>
		
		<div id="column">
			<div id="linhas_programacao_box">
				<table>
					<tr>
						<th width="70">Área</th>
						<th width="331">Linha</th>
						<th width="183">Programa</th>
					</tr>
					<tr id="bloco_a">
						<td class="table_topico"><a href="#bloco_A"><strong>C+D</strong> <span>cultura<br />+<br />desenv.</span></a></td>
						<td class="table_hidden" colspan="2">
							<div>
								<h3><a href="#item_A_1">1. Formação de capital humano para gestão cultural</a></h3>
								<ul>
									<li><a href="#item_A_1_1">Formação em áreas de criação</a></li>
									<li><a href="#item_A_1_2">Formação Técnica e de Gestão</a></li>
								</ul>
							</div>
							<div>
								<h3><a href="#item_A_2">2. Dimensão política da cultura</a></h3>
								<ul>
									<li><a href="#item_A_2_1">Cultura Política e Sociedade</a></li>
									<li><a href="#item_A_2_2">Mão dupla</a></li>
								</ul>
							</div>
							<div>
								<h3><a href="#item_A_3">3. Dimensão econômica da cultura</a></h3>
								<ul>
									<li><a href="#item_A_3_1">Economia Criativa</a></li>
									<li><a href="#item_A_3_2">Empreendedorismo Cultural</a></li>
								</ul>
							</div>
							<div>
								<h3><a href="#item_A_4">7. Impulso ao processo de reconhecimento dos direitos culturais</a></h3>
								<ul>
									<li><a href="#item_A_4_1">Diversidade e Acesso à cultura</a></li>
								</ul>	
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="3" class="td_divisor"></td>
					</tr>
					<tr id="bloco_b">
						<td colspan="2" class="table_topico"><a href="#bloco_B"><strong>Cooperação Cultural e Científica</strong></a></td>
						<td class="table_hidden">
							<div>
								<ul>
									<li><a href="#item_B_1_1">Novas Tecnologías</a></li>
									<li><a href="#item_B_1_2">Fortalecimento do Espaço Cultural Ibero-americano</a></li>
									<li><a href="#item_B_1_3">Centro de Recursos</a></li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="3" class="td_divisor"></td>
					</tr>
					<tr id="bloco_c">
						<td colspan="2" class="table_topico"><a href="#bloco_C"><strong>Promoção e Ação Cultural Exterior</strong></a></td>
						<td class="table_hidden">
							<div>
								<ul>
								</ul>
							</div>
						</td>
					</tr>
				</table>
				
				<ul id="linhas_lista">
					<li id="bloco_A">
						<h3 class="titulo_topico">Cooperação Cultural para o Desenvolvimento </h3>
						<p>Projetos e atividades enquadrados  dentro da Estratégia C+D, que  abre  um amplo campo para trabalhar a cultura como ferramenta fundamental para o desenvolvimento social, político, econômico e  humano sustentável, diversificado e baseado no respeito aos direitos humanos e culturais de todos.</p>
					</li>
					<li id="item_A_1">
					</li>
					<li id="item_A_1_1">
						<h3>Formação em áreas de criação</h3>
						<p>Workshops, cursos, conferências etc. no âmbito da criação contemporânea dirigidos a artistas e criadores locais, divididos por  profissionais ibero-americanos  na área de artes visuais, artes cênicas, arquitetura, design, audiovisual, novas tecnologias etc.</p>
					</li>
					<li id="item_A_1_2">
						<h3>Formação Técnica e de Gestão</h3>
						<p>Seminários, workshops e encontros interprofissionais especializados em âmbitos como museologia, bibliotecas, patrimônio, conservação, gestão cultural e políticas culturais, entre outros. Inclui o programa ACERCA (Capacitação para o Desenvolvimento), destinado ao fortalecimento profissional do setor cultural.</p>
					</li>
					<li id="item_A_2">
						<h3></h3>
						<p></p>
					</li>
					<li id="item_A_2_1">
						<h3>Cultura Política e Sociedade</h3>
						<p>Delimita o apoio a instituições e administrações locais para a formatação e/ou execução de políticas culturais que fomentem a coesão social através da participação cidadã na ação cultural, assim como iniciativas da sociedade civil que promovam ações destinadas a dar visibilidade desde a ação cultural a problemáticas contemporâneas e novas perspectivas para enfrentá-las.</p>
					</li>
					<li id="item_A_2_2">
						<h3>Mão dupla</h3>
						<p>Fomentar o intercâmbio Centro-Periferia-Centro como um exercício de dupla via para aproximar a oferta e oportunidades de criação do circuito central mais estabelecido a pólos da periferia e vice-versa, de modo que se encurtem as distâncias entre as oportunidades de criação e desfrute culturais nas áreas metropolitanas.</p>
					</li>
					<li id="item_A_3">
						<h3></h3>
						<p></p>
					<li id="item_A_3_1">
						<h3>Economia Criativa</h3>
						<p>Apoio a projetos enquadrados na interseção entre economia, cultura, criatividade e tecnologia, para gerar novos modelos de negócio que tenham o capital intelectual e cultural como matéria-prima. A economia criativa tem potencial para gerar admissões e empregos, e por sua vez promover a diversidade cultural e o desenvolvimento humano.</p>
					</li>
					<li id="item_A_3_2">
						<h3>Empreendedorismo Cultural</h3>
						<p>Apoio ao fortalecimento do tecido econômico, tanto através das iniciativas das pequenas e médias empresas culturais, para que se fomente o autoemprego e a inserção laboral (o CCE,  sempre que possível, contrata serviços com este tipo de empresa), como para fomentar o debate e as políticas nesse âmbito nos circuitos internacionais.</p>
					</li>
					</li>
					<li id="item_A_4">
						<h3></h3>
						<p></p>
					</li>
					<li id="item_A_4_1">
						<h3>Diversidade e Acesso à Cultura</h3>
						<p>Promover propostas culturais baseadas no reconhecimento da diversidade, a convivência e o respeito como fatores de fortalecimento identitário e do tecido social, que constituem uma garantia para o desenvolvimento e que estendem o direito ao acesso e à produção cultural.</p>
					</li>				
					
					<li id="bloco_B">
						<h3 class="titulo_topico">Cooperação Cultural e Científica</h3>
						<p>Atividades centradas no intercâmbio, o trabalho conjunto e o mútuo conhecimento entre criadores, acadêmicos, artistas e  investigadores no âmbito ibero-americano, partindo de  relações entre iguais para desenhar, colaborar e promover  projetos culturais e artísticos a nível local, regional e internacional.</p>						
					</li>
					<li id="item_B_1_1">
						<h3>Novas Tecnologias</h3>
						<p>Apoio à difusão e produção de projetos artísticos que fomentem a relação entre investigação, arte e tecnologia, assim como sua aplicação ao desenvolvimento de novas linguagens artísticas. As novas tecnologias a serviço da democratização cultural, da diversidade e do  conhecimento.</p>
					</li>
					<li id="item_B_1_2">
						<h3>Fortalecimento do Espaço Cultural Ibero-americano</h3>
						<p>Intercâmbio, mobilidade e articulação de iniciativas, projetos e organizações culturais, artísticas e acadêmicas que trabalham no âmbito ibero-americano.</p>
					</li>
					<li id="item_B_1_3">
						<h3>Centro de Recursos</h3>
						<p>Apoio de infraestrutura para o desenvolvimento de projetos culturais e artísticos, posicionando para oferecer não apenas atividades que fomentem o acesso à cultura, mas também à produção de cultura.</p>
					</li>
					
					<li id="bloco_C">
						<h3 class="titulo_topico">Promoção e Ação Cultural Exterior</h3>
						<p>O Centro Cultural pretende divulgar e promover as propostas culturais de  criadores espanhóis, mostrando a enorme diversidade, criativa, social, econômica e política  do país. Ao mesmo tempo, ajudar  nossos criadores a internacionalizar sua produção para situar a Espanha e suas produções culturais de todo tipo na vanguarda cultural.</p>
					</li>
					
				</ul>
			</div>
		</div>
		
	</div>
	
	<%= render :partial => "footer" %>

</div>