<div id="site">

	<%= render :partial => "header" %>
	
	<div id="content">
		<div id="sidebar">
			<h2 id="txt_mapa_do_site" class="umalinha" title="Mapa do Site">Mapa do Site<span>&nbsp;</span></h2>
			<h3>Direto ao assunto</h3>
			<ul id="mapa">
				<li>
					<a href="/">home</a>
					<ul>
						<li><a href="/noticias">notícias [convocatórias]</a></li>
					</ul>
				</li>
				<li>
					<a href="/sobre">sobre o CCESP</a>
					<ul>
						<li><a href="/sobre">a instituição</a></li>
						<li><a href="/atuacao">atuação</a></li>
						<li><a href="/projetos">projetos</a></li>
					</ul>
				</li>
				<li>
					<a href="/aecid">AECID</a>
					<ul>
						<li><a href="/aecid">sobre AECID</a></li>
						<li><a href="/aecid/cultura_desenvolvimento">[C+D] Cultura e Desenvolvimento</a></li>
						<li><a href="/aecid/centros">rede de centros</a></li>
						<li><a href="/aecid/oficina_tecnica" title="Oficina Técnica de Cooperação - Brasília">[OTC]</a></li>
						<li><a href="/aecid/documentos">Docs</a></li>
					</ul>
				</li>
				<li>
					<a href="/programacao">programação</a>
					<ul>
						<li><a href="/programacao/inscricoes">inscrições em atividades</a></li>
					</ul>
				</li>
				<li>
					<a href="/projetos">projetos</a>
				</li>
				<li>
					<a href="/midiateca">midiateca</a>
					<ul>
						<li><a href="/midiateca">sobre a midiateca</a></li>
						<li><a href="/midiateca/servicos">serviços</a></li>
						<li><a href="http://ccebrasil.phl-net.com.br/">catálogo online</a></li>
						<li><a href="/midiateca/links">links midiateca</a></li>
						<li><a href="/midiateca/contato">contato midiateca</a></li>
					</ul>
				</li>
				<li>
					<a href="/arquivo_vivo">arquivo vivo</a>
				</li>
				<li>
					<a href="/imprensa">imprensa</a>
				</li>
				<li>
					<a href="/contato">contato</a>
				</li>
				<li>
					<a href="/links">links</a>
				</li>
				<li>
					<a href="/acessibilidade">acessibilidade (W3C)</a>
				</li>
				<li>
					<a href="/termos_de_uso">termos de uso de conteúdo</a>
				</li>
				<li>
					<a href="/projeto_dispositivo">projeto [dispositivo]</a>
				</li>
				<li>
					<a href="/mapa">mapa do site</a>
				</li>
			</ul>			
		</div>
		
		<div id="column">
			
		</div>
		
	</div>
	
	<%= render :partial => "footer" %>

</div>