<body class="midiateca">

<div id="site">

	<%= render :partial => "header" %>
	
	<div id="content">
		<div id="sidebar">
			<h2 id="txt_midiateca_contato" class="umalinha" title="Contato midiateca">Contato midiateca<span>&nbsp;</span></h2>
			<h3>Canal aberto com a midiateca</h3>
			
			<% form_for :home, :url => { :action => :enviar_mensagem_midiateca }, :html=>{ :onsubmit => "return check_contact_form();", :id => "contato_form", :class => "form after" } do |f| -%>
				<%= content_tag(:p, flash[:mail_notice], :style => "color:red") if flash[:mail_notice] %>
				<ul>
					<li><input type="text" name="form_nome" id="form_nome" class="ipt_txt" value="+ nome" /></li>
					<li><input type="text" name="form_email" id="form_email" class="ipt_txt" value="+ email" /></li>
					<li><input type="text" name="form_assunto" id="form_assunto" class="ipt_txt" value="+ assunto" /></li>
					<li><textarea name="form_mensagem" id="form_mensagem" class="ipt_textarea" cols="20" rows="10">+ mensagem</textarea></li>
					<li><input type="submit" value="Enviar" class="submit" title="Enviar" /></li>
				</ul>
			<% end -%>
			
			<ul id="menu_midiateca_sidebar" class="menu_sidebar">
				<li id="sidebar_item1"><a href="/midiateca" title="sobre a midiateca">sobre a midiateca<span>&nbsp;</span></a></li>
				<li id="sidebar_item2"><a href="/midiateca/servicos" title="serviços">serviços<span>&nbsp;</span></a></li>
				<li id="sidebar_item3"><a href="http://ccebrasil.phl-net.com.br" title="catálogo online">catálogo online<span>&nbsp;</span></a></li>
				<li id="sidebar_item4"><a href="/midiateca/links" title="links midiateca">links midiateca<span>&nbsp;</span></a></li>
				<li id="sidebar_item5" class="selected"><a href="/midiateca/contato" title="contato">contato<span>&nbsp;</span></a></li>
			</ul>
		</div><!-- fim de SIDEBAR -->
		
		<div id="column">
			<div id="contato_box">
				<h3>Contato</h3>
				<p>
					<span class="street-address">Rua Dr. Martinico Prado, 474</span> 
					<span class="locality">Higienópolis</span> - 
					<span class="locality">São Paulo</span>, 
					<span class="region">SP</span>
				</p>
				<p>
					<span class="tel">tel: +55 11 3822.2627</span><br />
					<span class="tel">fax: +55 11 3666.0516</span><br />
					<a class="email" href="mailto:contato@ccebrasil.org.br" title="contato">contato@ccebrasil.org.br</a><br />
					<a class="email" href="mailto:info@ccebrasil.org.br" title="contato">info@ccebrasil.org.br</a>
				</p>
				
				<h3>funcionamento</h3>
				<p>
					<strong>_administração e recepção</strong><br />
					De segunda a sexta-feira<br />
					das 9h às 18h<br /></p>
				<p>
					<strong>_midiateca</strong><br />
					das 14h às 20h30<br />
				</p>
				<p>[visitas sob agendamento prévio]</p>
			</div>
		</div>
		
	</div>
	
	<%= render :partial => "footer" %>

</div>