<body>

<div id="site">

	<%= render :partial => "header" %>
	
	<div id="content">
		<div id="sidebar">
			<h2 id="txt_projeto_dispositivo" class="umalinha" title="projeto [dispositivo]">projeto [dispositivo]<span>&nbsp;</span></h2>
			<h3>Como funciona</h3>
			
			<p>O projeto [dispositivo] é formado pelos artistas Claudio Bueno, Jorge Menna Barreto e Vitor Cesar. Em colaboração com o Centro Cultural da Espanha em São Paulo, vem gerando o projeto de Ação e Difusão Cultural para esta instituição, criando um ambiente gráfico, discursivo e virtual. </p>
			
			<p id="creditos">
				Integram a equipe de desenvolvimento do projeto, <br />
				a crítica de arte Ananda Carvalho e os<br />
				programadores Alex Koti e Luciano Bonachela.
			</p>
		</div>
		
		<div id="column">
			<div id="projeto_dispositivo_box">
				<span id="espacializacao">espacialização</span>
				<span id="produção_de_sentido">produção de sentido</span>
				<span id="rede">rede</span>
				<span id="descentralizacao">descentralização</span>
				<span id="colaboracao">colaboração</span>
				<span id="inclusao">inclusão</span>
				<span id="latitude">latitude</span>
				<span id="soma">soma</span>
				<span id="expansao">expansão</span>
				<span id="multiplicacao_de_centros">multiplicação de centros</span>
				<span id="articulacao">articulação</span>
				<span id="pertencimento">pertencimento</span>
				<span id="descentro">descentro</span>
				<span id="longitude">longitude</span>
			</div>
		</div>
		
	</div>
	
	<%= render :partial => "footer" %>

</div>