<body class="sobre">

<div id="site">
	
	<%= render :partial => "header" %>
		
	<div id="content">
		<div id="sidebar">
			<h2 id="txt_sobre_o_ccesp" class="umalinha" title="Sobre o CCE_SP">Sobre o CCE_SP<span>&nbsp;</span></h2>
			<h3>a instituição</h3>
			<p>A AECID é uma Agência Estatal submetida ao Ministério de Assuntos Exteriores e de Cooperação da Espanha por meio da Secretaria do Estado para a Cooperação Internacional (SECI) e faz parte da missão diplomática espanhola no país. A Agência é responsável pelo desenho, execução e pela gestão dos projetos e programas de cooperação para o desenvolvimento, diretamente, com recursos próprios ou mediante colaboração com outras instituições nacionais, internacionais, multilaterais e organizações não-governamentais. Por intermédio de uma rede de Centros Culturais instalados nas principais cidades dos países iberoamericanos, a AECID implementa os projetos de cooperação cultural.  No Brasil, o Centro Cultural da Espanha – AECID está localizado em São Paulo. A instituição tem realizado um intenso trabalho em associação com os poderes públicos e com uma diversificada gama de instituições e organizações da sociedade civil. A atividade da AECID no campo da cooperação cultural no Brasil complementa e se coordena com a que desenvolve a Embaixada da Espanha através da Conselheria de Cultura e o Instituto Cervantes e o Escritório Técnico de Cooperação de Brasília. </p>
			<p>A ênfase do trabalho da Centro Cultural da Espanha em São Paulo não se limita a promoção da cultura espanhola, mas reside no desenvolvimento de iniciativas que agreguem diferentes atores iberoamericanos em assuntos de interesse comum. Trata-se, portanto, de fomentar o encontro de experiências e recursos para apoiar espaços de reflexão, intercâmbio e diálogo, e assim, apoiar a produção artística e cultural e o seu papel como fator de desenvolvimento.  Busca-se assim dinamizar e descentralizar a atividade cultural, no intuito de contribuir com o exercício dos direitos de produção e fruição de todos os agentes do campo da cultura. </p>
			<p>O lançamento do site é um momento especial para esta instituição. Diferente de outros Centros da rede, o CCE_SP não possui uma sede própria. Inicialmente entendida como uma falta, esta característica terminou por fortalecer a sua habilidade para a criação de redes parceiras e invenção de novos contextos de atuação. É também neste espírito inquieto e em busca de novos suportes e lugares para a atividade cultural que se pensa esta plataforma virtual. Pretende-se assim que não seja apenas informativa, mas que opere de forma viva, tirando proveito da linguagem que lhe é específica e produzindo sentido e memória. </p>
			<h3>Nossa sede</h3>
			<p>O Centro possui um espaço administrativo, sala de reuniões e um ambiente multiusos com capacidade para 40 pessoas, que pode abrigar pequenos eventos e oficinas. Ainda, possui uma midiateca aberta para consulta e empréstimo. O Centro está articulado com uma série de outras instituições parceiras com as quais realiza, em colaboração, atividades de maior porte: exposições, concertos, peças de teatro, entre outras. Ver programação no site.</p>
			
			<!-- =============================== MENU COM TEXTO DE IMAGEM: manter as ids corretas ================================= -->
			<ul id="menu_sobre" class="menu_sidebar">
				<li id="sidebar_item1" class="selected"><a href="/sobre" title="a instituição">a instituição<span>&nbsp;</span></a></li>
				<li id="sidebar_item2"><a href="/atuacao" title="atuação">atuação<span>&nbsp;</span></a></li>
				<li id="sidebar_item3"><a href="/projetos" title="projetos">projetos<span>&nbsp;</span></a></li>
			</ul>
		</div>
		
		<div id="column">
			<h2 id="txt_onde_estamos" class="txt_img_geral" title="onde estamos">onde estamos<span>&nbsp;</span></h2>
			<div id="google_maps">
				<iframe width="568" height="414" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Dr.+Martinico+Prado,+474+,+S%C3%A3o+Paulo,+SP&amp;sll=37.0625,-95.677068&amp;sspn=48.240201,78.75&amp;ie=UTF8&amp;ll=-23.535032,-46.653614&amp;spn=0.065156,0.097847&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>
			</div>
			
			<!-- =============================== FORMATAÇÂO, sinais de "+" ================================= -->
			<div class="mais_divisor"><div></div></div>
			
			<!-- =============================== Itens com classes microformats ================================= -->
			<div class="subcoluna subcoluna30 txt_m">
				<h3>Contato</h3>
				<p>
					<span class="street-address">Rua Dr. Martinico Prado, 474</span> 
					<span class="locality">Higienópolis</span> - 
					<span class="locality">São Paulo</span>, 
					<span class="region">SP</span>
				</p>
				<p>
					<span class="tel">tel: +55 11 3822.2627</span><br />
					<span class="tel">fax: +55 11 3666.0516</span><br />
					<a class="email" href="mailto:contato@ccebrasil.org.br" title="contato">contato@ccebrasil.org.br</a>
				</p>
				
				<h3>funcionamento</h3>
				<p>
					<strong>_administração e recepção</strong><br />
					De segunda a sexta-feira<br />
					das 9h às 18h<br /></p>
				<p>
					<strong>_midiateca</strong><br />
					das 14h às 20h30<br />
				</p>
				<p>[visitas sob agendamento prévio]</p>
			</div>
			<div class="subcoluna subcoluna70 txt_m">
				<h3>como chegar?</h3>

				<h4>_metrô</h4>
				<p>Desça no metrô Marechal Deodoro e suba a Av. Angélica até a Rua Dr. Martinico Prado. O CCE_SP estará na esquina.</p>
				
				<h4>_ônibus</h4>
				<p>Seguem abaixo algumas indicações de ônibus que passam na Avenida Angélica, em frente ao CCE_SP:</p>
				
				<ul>
				  <li>177H Horto Florestal - Butantã-USP</li> 
				  <li>7392-10 Estação da Luz - Jd. Maria Sampaio</li>
				  <li>178L-10 Lauzane Paulista - Hospital das Clínicas</li>
				  <li>508L-10 Terminal Princesa Isabel - Aclimação (circular)</li>
				  <li>874T-10 Ipiranga - Lapa</li>
				</ul>
				
				<h4>_carro</h4>
				<p><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Dr.+Martinico+Prado,+474+,+S%C3%A3o+Paulo,+SP&amp;sll=37.0625,-95.677068&amp;sspn=48.240201,78.75&amp;ie=UTF8&amp;ll=-23.540658,-46.655502&amp;spn=0.016288,0.024462&amp;z=15&amp;iwloc=A">Clique aqui</a> e acesse o link “<strong>como chegar</strong>” do Google mapas</p>
			</div>
		</div>
		
	</div>
	
	<%= render :partial => "footer" %>

</div>