<body class="termos_uso">

<div id="site">

	<%= render :partial => "header" %>
	
	<div id="content">
		<div id="sidebar">
			<h2 id="txt_termos_de_uso" class="umalinha" title="Termos de uso">Termos de uso<span>&nbsp;</span></h2>
			<h3>Sobre o nosso conteúdo</h3>
			<p>O CCE_SP tem uma política amigável em relação ao uso do conteúdo do site. Caso haja interesse em reproduzi-lo, por favor entre em contato. Alguns direitos são reservados e o conteúdo pode estar protegido.</p>
			<p><a href="mailto:site@ccebrasil.org.br"><strong>site@ccebrasil.org.br</strong></a></p>
		</div>
		
		<div id="column">
			<div id="acessibilidade_box">
				&nbsp;
			</div>
		</div>
		
	</div>
	
	<%= render :partial => "footer" %>

</div>