  <p>
    <%= f.label "Título" %><br />
    <%= f.text_field :title, :size => 62 %>
  </p>
  <p>
    <%= f.label "Descrição" %><br />
    <%= f.text_area :description, :cols => 60, :rows => 18 %>
  </p>