<h1>Categorias de Projetos</h1>

<table>
  <tr>
    <th>Categoria</th>
  </tr>

<% @project_categories.each do |project_category| %>
  <tr>
    <td><%=h project_category.title %></td>
    <td><%= link_to 'Exibir', project_category %></td>
    <td><%= link_to 'Editar', edit_project_category_path(project_category) %></td>
    <%# link_to 'Remover', project_category, :confirm => 'Você tem certeza?', :method => :delete %>
  </tr>
<% end %>
</table>

<br />

<%# link_to 'Nova categoria', new_project_category_path %>