<h1>Categoria de Projetos :: Novo</h1>

<% form_for(@project_category) do |f| %>
  <%= f.error_messages %>

  	<%= render :partial => "form", :locals => { :f => f } %>

  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'Voltar', project_categories_path %>