<h1>Editores :: Novo</h1>

<% form_for(@editor) do |f| %>
  <%= f.error_messages %>
	
	<%= render :partial => "form", :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Criar', :disable_with => "Criando.." %>
  </p>
<% end %>

<%= link_to 'Voltar', editors_path %>