<p>
  <b>Title:</b>
  <%=h @medialibrary_about.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @medialibrary_about.description %>
</p>


<%= link_to 'Edit', edit_medialibrary_about_path(@medialibrary_about) %> |
<%= link_to 'Back', medialibrary_abouts_path %>