<p>
  <%= f.label "Título" %><br />
  <%= f.text_field :title, :size => 62 %>
</p>
<p>
  <%= f.label "Código do vídeo [EMBED: 265x215]" %><br />
	<%= f.text_area :embed, :cols => 60, :rows => 18 %>
</p>